name: Rust Clippy

on:
  workflow_call:
    inputs:
      working-directory:
        default: "."
        required: false
        type: string

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy

      - name: Install dependencies
        run: sudo apt update && sudo apt install libomp-dev

      - name: Run cargo clippy
        working-directory: ${{ inputs.working-directory }}
        run: |
          cargo clippy -- -D warnings
